.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.titleSub {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4px;
}

.sub {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.2rem;
}

/* Centered content as a transparent panel with radius */
.mainPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f1631e6;
  border-radius: 16px;
  padding: 32px;
  min-width: 500px;
  overflow-y: hidden;
}

.mainButton {
  width: 200px;
}

/* Small Mobile */
@media (max-width: 400px) {
  .main {
    padding: 1rem;
  }

  .title {
    font-size: 7vw;
  }

  .titleSub {
    font-size: 3vw;
  }

  .mainPanel {
    width: 100%;
    min-width: 100%;
    padding: 16px;
  }

  .mainButton {
    width: 100%;
  }
}

/* Mobile */
@media (min-width: 401px) and (max-width: 700px) {
  .main {
    padding: 2rem;
  }

  .title {
    font-size: 7vw;
  }

  .titleSub {
    font-size: 3vw;
  }

  .mainPanel {
    width: 100%;
    min-width: 100%;
    padding: 24px 16px;
  }

  .mainButton {
    width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 2rem;
  }

  .mainPanel {
    width: 100%;
  }

  .title {
    font-size: 5vw;
  }

  .titleSub {
    font-size: 2vw;
  }
}