.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.titleSub {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.sub {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.2rem;
}

/* Centered content as a transparent panel with radius */
.mainPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #192243ad;
  border-radius: 16px;
  padding: 32px;
  min-width: 500px;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0;
  }

  .center {
    padding: 1rem 0 1rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .mainPanel {
    min-width: unset;
    margin: 0 16px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 2rem;
  }

  .center {
    padding: 2rem 0 1rem;
  }
}